@model IEnumerable<WebCoursework.Office>

@{
    ViewData["Title"] = "Index";
}

<h1>Офіси</h1>

<p>
    <a asp-action="Create">Створити новий</a>
</p>
<a href="/Cities">
    <button>Міста</button>
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDateTime)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfficeId">Редагувати</a> |
                @*<a asp-action="Details" asp-route-id="@item.OfficeId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.OfficeId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
