@model IEnumerable<WebCoursework.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Послуги</h1>
<a class="btn btn-primary" href="/ServiceTypes">
    Типи послуг
</a>
<p>
    <a asp-action="Create" class="btn btn-outline-success">Додати послугу</a>
</p>
<form asp-controller="Services" asp-action="Index">
    <p>
        Ціна: <input type="number" name="price" />
        Послуга: <input type="text" name="service" />
        Тип послуги: <input type="text" name="serviceType" />
        <input type="submit" value="Пошук" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort">
                    @Html.DisplayNameFor(model => model.Price)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ServiceSort">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)              
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDateTime)
            </th>*@
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.ServiceTypeSort">
                @Html.DisplayNameFor(model => model.ServiceType)
            </a>
        </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId">Редагувати</a> |
                @*<a asp-action="Details" asp-route-id="@item.ServiceId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ServiceId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
