@model IEnumerable<WebCoursework.WorkerSchedule>

@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-primary" href="/Schedules">
    Розклади
</a>
<h1>Розклади працівників</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-success">Додати розклад робітника</a>
</p>
<form asp-controller="WorkerSchedules" asp-action="Index">
    <p>
        Прізвище: <input type="text" name="workerLastName" />
        Ім'я: <input type="text" name="workerFirstName" />
        Посада: <input type="text" name="position" />
        День: <input type="text" name="day" />
        Час початку: <input type="time" name="startTime" />
        Час кінця: <input type="time" name="endTime" />
        <input type="submit" value="Пошук" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedDateTime)
        </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>*@
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.WorkerLastNameSort">
                    @Html.DisplayNameFor(model => model.Worker.LastName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.WorkerFirstNameSort">
                    @Html.DisplayNameFor(model => model.Worker.FirstName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PositionSort">
                    @Html.DisplayNameFor(model => model.Worker.Position.PositionName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DaySort">
                    @Html.DisplayNameFor(model => model.Schedule.Day.Name)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TimeStartSort">
                    @Html.DisplayNameFor(model => model.Schedule.TimeSegment.TimeStart)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TimeEndSort">
                    @Html.DisplayNameFor(model => model.Schedule.TimeSegment.TimeEnd)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
        </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Schedule.ScheduleId)
            </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.Worker.Address)
        </td>*@
            <td>
                @Html.DisplayFor(model => item.Worker.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Worker.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Worker.Position.PositionName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Schedule.Day.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Schedule.TimeSegment.TimeStart)
            </td>
            <td>
                @Html.DisplayFor(model => item.Schedule.TimeSegment.TimeEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
