@model IEnumerable<WebCoursework.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Розклади</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-success">Додати розклад</a>
</p>
<a class="btn btn-primary" href="/TimeSegments">
    Відрізки часу
</a>
<a class="btn btn-primary" href="/Days">
    Дні
</a>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModifiedDateTime)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSegment.TimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSegment.TimeEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreatedDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Day.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSegment.TimeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSegment.TimeEnd)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ScheduleId">Редагувати</a> |
                    @*<a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.ScheduleId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
