@model IEnumerable<WebCoursework.City>

@{
    ViewData["Title"] = "Index";
}

<h1>Міста</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Додати місто</a>
</p>
<form asp-controller="Cities" asp-action="Index">
    <p>
        Місто: <input type="text" name="city" />
        <input type="submit" value="Пошук" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDateTime)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.CityId">Редагувати</a> |
                @*<a asp-action="Details" asp-route-id="@item.CityId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.CityId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
