@model IEnumerable<WebCoursework.ServiceType>

@{
    ViewData["Title"] = "Index";
}

<h1>Типи послуг</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Додати тип послуги</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDateTime)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceTypeId">Редагувати</a> |
                @*<a asp-action="Details" asp-route-id="@item.ServiceTypeId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ServiceTypeId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
