@model IEnumerable<WebCoursework.AppointmentService>

@{
    ViewData["Title"] = "Index";
}

<h1>Надані послуги</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Додати надану послугу</a>
</p>
<form asp-controller="AppointmentServices" asp-action="Index">
    <p>
        <p>
        Номер прийому: <input type="number" name="id" />
        Дата: <input type="date" name="date" />
        Час початку: <input type="time" name="startTime" />
        </p>
    <p>
        Ім'я лікаря: <input type="text" name="workerFirstName" />
        Прізвище лікаря: <input type="text" name="workerLastName" />
        Кількість наданої послуги: <input type="number" name="amount" />
        <input type="submit" value="Пошук" />
    </p>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IdSort">
                    @Html.DisplayNameFor(model => model.Appointment.AppointmentId)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSort">
                    @Html.DisplayNameFor(model => model.Appointment.AppointmentDate)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TimeSort">
                    @Html.DisplayNameFor(model => model.Appointment.AppointmentTime)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.WorkerNameSort">
                    @Html.DisplayNameFor(model => model.Appointment.Worker)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.AmountSort">
                    @Html.DisplayNameFor(model => model.Amount)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.AppointmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.Worker.FirstName) @Html.DisplayFor(modelItem => item.Appointment.Worker.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
