@model IEnumerable<WebCoursework.AppointmentService>

@{
    ViewData["Title"] = "Index";
}

<h1>Надані послуги</h1>

<p>
    <a asp-action="Create">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.AppointmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.AppointmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.Worker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.AppointmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.Worker.FirstName) @Html.DisplayFor(modelItem => item.Appointment.Worker.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
