@model IEnumerable<WebCoursework.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Пацієнти</h1>

<p>
    <a asp-action="Create">Додати</a>
</p>
<form asp-controller="Patients" asp-action="Index">
    <p>
        Ім'я: <input type="text" name="firstName" />

        Прізвище: <input type="text" name="lastName" />

        Дата народження: <input type="date" name="date" />

        <input type="submit" value="Пошук" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.FirstNameSort">
                    @Html.DisplayNameFor(model => model.FirstName)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.LastNameSort">
                    @Html.DisplayNameFor(model => model.LastName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSort">
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientId">Редагувати</a> |
                @*<a asp-action="Details" asp-route-id="@item.PatientId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.PatientId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
